@media screen and (min-width: 1200px) and (orientation: landscape) {

  .container_galery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c63826c;
    overflow: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45%;
  }

  .section_navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

  .section_photo {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
  }

  h1 {
    color: #3c6382;
    font-family: "K2D", sans-serif;
    font-size: medium;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
  }

  h2 {
    color: #3c6382;
    font-family: "K2D", sans-serif;
    font-size: larger;
    text-align: left;
  }

  .title_capt {
    display: flex;
    justify-content: center;
  }

  .image {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: space-around;
  }

  p {
    margin-bottom: 0;
  }

  .d-flex {
    justify-content: space-around;
  }

  .logo_info {
    display: flex;
    width: 20px;
    height: 20px;
  }

  .combo_title_info {
    display: flex;
    justify-content: space-between;
  }

  .nav-pills {
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 8px;
    font-family: "K2D", sans-serif;
    font-size: small;
    color:#3c6382;
    text-align: justify;
  }

  .img_galery {
    display: flex;
    border-radius: 8px;
    width: 20vw;
    height: 13vw;
    margin: 10px;
    border: 1.5px solid #3c6382;
  }

  .galeryShow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  .categoryButton{
    color: #3c6382;
  }

  .rounded-circle,
.border-light {
  background-color: #3c63826c;
  background-size: 40px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 130px;
  right: 451px;
  width: 60px;
  height: 60px;
  display: none;
  border: #3c6382;
}

  .arrow_img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 375px) and (orientation: portrait) {

  .container_galery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c63826c;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 95%;
  }

  .section_navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

  .section_photo {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
  }

  h1 {
    color: #3c6382;
    font-family: "K2D", sans-serif;
    font-size: medium;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
  }

  h2 {
    color: #3c6382;
    font-family: "K2D", sans-serif;
    font-size: larger;
    text-align: left;
  }

  .title_capt {
    display: flex;
    justify-content: center;
  }

  .image {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: space-around;
  }

  p {
    margin-bottom: 0;
  }

  .d-flex {
    justify-content: space-around;
  }

  .logo_info {
    display: flex;
    width: 20px;
    height: 20px;
  }

  .combo_title_info {
    display: flex;
    justify-content: space-between;
  }

  .nav-pills {
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 8px;
    font-family: "K2D", sans-serif;
    font-size: small;
    color:#3c6382;
    text-align: justify;
  }

  .img_galery {
    display: flex;
    border-radius: 8px;
    width: 71vw;
    height: 52vw;
    margin: 10px;
    border: 1.5px solid #3c6382;
  }

  .galeryShow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  .categoryButton{
    color: #3c6382;
  }

.rounded-circle,
.border-light {
  background-color: #3c63826c;
  background-size: 40px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 140px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: none;
  border: #3c6382;
}

  .arrow_img {
    width: 25px;
    height: 25px;
  }
}
