.main_prestations {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.container_prestations {
  display: flex;
  flex-direction: column;
  background-color: #3c63826c;
  align-items: center;
  width: 400px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-bottom: 20px;
}
.section_prestations{
  width: 100%;
  justify-content: center;
  justify-items: center;
}
h1 {

  color: #3c6382;
  font-family: "K2D", sans-serif;
  font-size: medium;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 8px;
  width: 50%;
  background-color: white;
}
h3{
  color: #3c6382;
}
.title_capt{
  display: flex;
  justify-content: center
}

@media screen and (min-width: 1200px) and (orientation: landscape){

  .main_prestations{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container_prestations{
    align-items: center;
    width: 600px;
  
  }
  
  .section_prestations{
    width: 80%;
  }
}