html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(../img/rain.jpg);
  background-attachment: fixed;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

header {
  background-color: #3c63826c;
  color: #ffffff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.logo_camera {
  width: 30px;
  animation-direction: normal;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Footer*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3c6382;
  bottom: 0;
  background-color: #ffffff;
}

.social_mesage {
  padding: 10px;
}

.logo_social {
  display: flex;
}

.logo_Cc_blue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_Cc_blue > img {
  width: 135px;
  padding: 1rem;
}

.logo_text{
  font-family: "K2D", sans-serif;
  color: #3c6382;
  font-size: small;
}

.socials{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright{
  display: flex;
  padding-bottom: 5px;
}

.social_message,
.copyright_message{
  display: flex;
  font-family: "K2D", sans-serif;
  color: #3c6382;
  font-size: small;
  text-align: center;
  flex-direction: column;
  padding-top: 5px;
}

h1 {
  color:white;
  font-family: "K2D", sans-serif;
  font-size: larger;
  text-align: center;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0rem;
  line-height:0;
}

@media screen and (min-width: 375px) and (orientation: portrait) {

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3c6382;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 3px;
}

.socials{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright{
  display: flex;
  padding-bottom: 5px;
}

.social_message,
.copyright_message{
  display: flex;
  font-family: "K2D", sans-serif;
  color: #3c6382;
  font-size: small;
  text-align: center;
  flex-direction: column;
  padding-top: 5px;
}

.logo_Cc_blue {
  display: none;
  flex-direction: column;
  align-items: center;
}

h1 {
  color:white;
  font-family: "K2D", sans-serif;
  font-size: larger;
  text-align: center;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0rem;
  line-height:0;
}
}

